* {
  margin: 0;
  padding: 0;
}

#myTitle {
  color: green;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  /*
  margin-top: 25px;
  margin-right: 35px;
  margin-bottom: 45px;
  margin-left: 55px;
  */
  margin: 25px 35px 45px 55px;
  
  border-style: solid;
  border-width: 6px;
  border-color: red;
  
  border-right-style: dashed;
  border-right-width: 2px;
  border-right-color: blue;
  
  border: 6px solid red;
  
  padding: 12px;
  
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 14px;
  padding-left: 16px;
  
  padding: 14px 20px;
}

.blueFont {
  font-family: Arial;
  font-weight: bolder;
  color: blue;
  
  width: 50px;
  height: 50px;
}

img {
  width: 150px;
  height: 45px;
}

div.center {
  width: 150px;
  height: 45px;
  margin: 10px auto;
}
